/* layout alignment */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #a7a090;
}

#page {
  width: 750px;
  margin: 0 auto;
  background: #99c;
}

#header {
  padding: 5px 10px;
  background: #ddd;
}

#nav {
  background: #c99;
  text-align: center;
  overflow: hidden;
}

#main {
  float: left;
  width: 100%;
  padding: 10px;
  background: #9c9;
}

#footer {
  clear: both;
  background: #cc9;
}

/* nav bar styling */
/* page navigation on the left */
#nav > ul {
  margin: 4px;
  padding: 0;
  list-style: none;
  float: left;
}

#nav > ul > li {
  margin: 5px;
  padding: 0;
  display: inline;
}

/* user controls on the right */
#nav > span {
  margin: 4px 9px 4px 0px;
  display: inline-block;
  float: right;
}

/* header styles */

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 1em;
}

#footer p {
  margin: 0;
  text-align: center;
}

#header > h1, #header > p {
  display: inline;
  vertical-align: middle;
}

/* form alignment */
form > label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

/* title styling */
#header > h1 {
  font-size: 1.45em;
}

#header > p {
  font-size: 0.95em;
}

/* post styling */
.post > .body > h1 {
  font-size: 1.7em;
}

.post > .body > h2 {
  font-size: 1.3em;
}