@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);

/* layout alignment */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Cardo", serif;
  font-size: 15pt;
  background: white;
}

h1, h2, h3, h4, h5, h6, .byline {
  font-family: "Lato", sans-serif;
}

#page {
  max-width: 750px;
  margin: 0 auto;
}

#header, #footer {
  padding: 5px 10px;
}

#nav, #footer {
  background: #f9f9f9;
  overflow: hidden;
  padding: 10px;
}

#main h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
}

#main p {
  margin-bottom: 10px;
}
#main {
  width: 100%;
  padding: 30px;
}

/* nav bar styling */
/* page navigation on the left */
#nav > ul {
  margin: 4px;
  padding: 0;
  list-style: none;
}

#nav > ul > li {
  margin: 5px;
  padding: 0;
  display: inline;
}

/* user controls on the right */
#nav > p {
  margin: 4px 9px;
}

/* header styles */
#footer p {
  text-align: center;
}

#header > h1, #header > p {
  text-align: center;
  vertical-align: middle;
}

/* form alignment */
form > label {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  text-align: right;
}

/* title styling */
#header > h1 {
  font-size: 1.45em;
}

#header > p {
  font-size: 0.95em;
  font-style: italic;
}

/* post styling */
.post {
  margin-bottom: 1.5em;
}
.post ~ .post {
  margin: 1.5em inherit;
}
.post ~ .post:before {
  width: 100%;
  height: 1px;
  background: #555;
  content: "";
}
.post > .body > h1 {
  font-size: 1.7em;
}

.post > .body > h2 {
  font-size: 1.3em;
}

.post > .body > p:last-child {
  margin-bottom: 0px !IMPORTANT;
}

.byline {
  font-size: 0.8em;
  text-align: right;
  color: #555
}

/* textbox styling */
input[type="email"],
input[type="password"],
input[type="text"],
select,
textarea {
  border: 1px solid #333;
  border-left-width: 4px;
  border-radius: 7px;
  padding-left: 4px;
  margin: 2px;
  font-family: inherit;
  font-size: inherit;
}

/* link color */
a {
  color: #333;
}